@using Server.Models
@using System.Web
@using Shared.Models
@using Server.Services
@using Server

@inject LocalizationService T
@inject AIProvider AIProvider
@model HomeIndexViewModel
@{
    ViewData["Title"] = "Home Page";
    bool hasName = User.Identity?.Name is not null;
    string name = "";
    if (hasName && User.Identity is not null && User.Identity.Name is not null)
    {
        name = User.Identity.Name;
    }
}

<div class="container py-4">
    <h1 class="visually-hidden">Searchdomains</h1>
    <p class="mb-4 fs-3">
        @(hasName ? T["Hi, {0}!", name] : T["Hi!"])
    </p>

    <div class="row g-4">

        <!-- Embedding Cache -->
        <div class="col-md-6">
            <div class="card shadow-sm h-100">
                <div class="card-body">
                    <h2 class="card-title fs-5">@T["Embedding Cache"]</h2>

                    <div class="d-flex justify-content-between">
                        <span>@T["Size"]</span>
                        <strong id="embeddingcacheSize"></strong>
                    </div>

                    <div class="d-flex justify-content-between mt-2">
                        <span>
                            @T["Strings"]
                            <i class="bi bi-info-circle-fill text-info" 
                            data-bs-toggle="tooltip" 
                            title="@T["stringsCountInfo"]"></i>
                        </span>
                        <strong id="embeddingcacheElementCount"></strong>
                    </div>

                    <div class="progress mt-3" style="height: 8px;">
                        <div id="embeddingcacheElementCountProgressBar" class="progress-bar"
                             style="width: 0.00%"></div>
                    </div>

                    <div class="d-flex justify-content-between mt-2">
                        <span>@T["Embeddings"]</span>
                        <strong id="embeddingcacheEmbeddingCount"></strong>
                    </div>
                </div>
            </div>
        </div>

        <!-- Health Checks -->
        <div class="col-md-6">
            <div class="card shadow-sm h-100">
                <div class="card-body">
                    <h2 class="card-title fs-5">@T["Health Checks"]</h2>

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between">
                            <span>@T["Server"]</span>
                            <span id="healthchecksServer"
                                  class="badge bg-warning">
                                ???????
                            </span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between">
                            <span>@T["AI Providers"]</span>
                            <span id="healthchecksAiProvider"
                                  class="badge bg-warning">
                                ???????
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Searchdomains -->
        <div class="col-md-6">
            <div class="card shadow-sm h-100">
                <div class="card-body">
                    <h2 class="card-title fs-5">@T["Searchdomains"]</h2>

                    <div class="d-flex justify-content-between">
                        <span>@T["Count"]</span>
                        <strong id="searchdomainCount"></strong>
                    </div>

                    <div class="d-flex justify-content-between mt-2">
                        <span>@T["Total Entities"]</span>
                        <strong id="searchdomainEntityCount"></strong>
                    </div>

                    <div class="d-flex justify-content-between mt-2">
                        <span>@T["Total query cache utilization"]</span>
                        <strong id="totalQuerycacheUtilization"></strong>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    var searchdomains = null;

    document.addEventListener('DOMContentLoaded', async () => {
        // Initialize all tooltips
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        });


        let searchdomainCount = document.getElementById("searchdomainCount");
        showThrobber(searchdomainCount);
        let searchdomainEntityCount = document.getElementById("searchdomainEntityCount");
        showThrobber(searchdomainEntityCount);
        let totalQuerycacheUtilization = document.getElementById("totalQuerycacheUtilization");
        showThrobber(totalQuerycacheUtilization);
        let embeddingcacheSize = document.getElementById("embeddingcacheSize");
        showThrobber(embeddingcacheSize);
        let embeddingcacheElementCount = document.getElementById("embeddingcacheElementCount");
        showThrobber(embeddingcacheElementCount);
        let embeddingcacheEmbeddingCount = document.getElementById("embeddingcacheEmbeddingCount");
        showThrobber(embeddingcacheEmbeddingCount);
        let embeddingcacheElementCountProgressBar = document.getElementById("embeddingcacheElementCountProgressBar");
        let healthchecksServer = document.getElementById("healthchecksServer");
        let healthchecksAiProvider = document.getElementById("healthchecksAiProvider");

        (async() => {
            listSearchdomains().then(async result => {
                searchdomains = result.Searchdomains;
                hideThrobber(searchdomainCount);
                searchdomainCount.textContent = searchdomains.length;

                const perDomainPromises = searchdomains.map(async domain => {
                    const [entityListResult, querycacheUtilizationResult] = await Promise.all([
                        listEntities(domain),
                        getQuerycacheUtilization(domain)
                    ]);

                    return {
                        entityCount: entityListResult.Results.length,
                        utilization: querycacheUtilizationResult.QueryCacheSizeBytes
                    };
                });

                const results = await Promise.all(perDomainPromises);

                let entityCount = 0;
                let totalUtilization = 0;

                for (const r of results) {
                    entityCount += r.entityCount;
                    totalUtilization += r.utilization;
                }

                hideThrobber(searchdomainEntityCount);
                hideThrobber(totalQuerycacheUtilization);
                searchdomainEntityCount.textContent = entityCount;
                totalQuerycacheUtilization.textContent = NumberOfBytesAsHumanReadable(totalUtilization);
            });
            getEmbeddingcacheUtilization().then(result => {
                let utilization = result.SizeInBytes;
                let maxElementCount = result.MaxElementCount;
                let elementCount = result.ElementCount;
                let embeddingCount = result.EmbeddingsCount;
                hideThrobber(embeddingcacheSize);
                embeddingcacheSize.textContent = NumberOfBytesAsHumanReadable(utilization);
                hideThrobber(embeddingcacheElementCount);
                embeddingcacheElementCount.textContent = `${elementCount.toLocaleString()} / ${maxElementCount.toLocaleString()}`;
                hideThrobber(embeddingcacheEmbeddingCount);
                embeddingcacheEmbeddingCount.textContent = embeddingCount;
                embeddingcacheElementCountProgressBar.style.width = `${elementCount / maxElementCount * 100}%`;
            });
            getHealthCheckStatusAndApply(healthchecksServer, "/healthz/Database");
            getHealthCheckStatusAndApply(healthchecksAiProvider, "/healthz/AIProvider");
        })();
    });


    async function listSearchdomains() {
        return await fetch(`/Searchdomains`)
            .then(r => r.json());
    }

    async function listEntities(searchdomain) {
        return await fetch(`/Entities?searchdomain=${searchdomain}`)
            .then(r => r.json());
    }

    async function getQuerycacheUtilization(searchdomain) {
        return await fetch(`/Searchdomain/QueryCache/Size?searchdomain=${searchdomain}`)
            .then(r => r.json());
    }

    async function getEmbeddingcacheUtilization() {
        return await fetch(`/Server/EmbeddingCache/Size`)
            .then(r => r.json());
    }

    async function getHealthCheckStatusAndApply(element, url) {
        let text = await fetch(url)
            .then(r => r.text());
        let states = {"Healthy": "bg-success", "Degraded": "bg-warning", "Unhealthy": "bg-danger"};
        for (let state in states) {
            element.classList.remove(states[state]);
        }
        if (states[text]) {
            element.classList.add(states[text]);
        } else {
            element.classList.add("bg-danger");
        }
        element.textContent = text;
    }

    function showThrobber(element = null) {
      if (element == null) element = document;
      element.classList.add('spinner');
    }

    function hideThrobber(element = null) {
      if (element == null) element = document;
      element.classList.remove('spinner');
    }

    function NumberOfBytesAsHumanReadable(bytes, decimals = 2) {
        if (bytes === 0) return '0 B';
        if (bytes > 1.20892581961*(10**27)) return "∞ B";
        const units = ['B', 'KiB', 'MiB', 'GiB', 'TiB', 'PiB', 'EiB', 'ZiB', 'YiB'];
        const unitIndex = Math.floor(Math.log2(bytes) / 10);
        const unit = units[Math.min(unitIndex, units.length - 1)];
        const value = bytes / Math.pow(1024, unitIndex);
        
        return `${value.toFixed(decimals)} ${unit}`;
    }

</script>